{% extends 'shop/base.html' %}


{% block title.super %}
    | main
{% endblock %}


{% block content %}

    {% if not cart %}
        Cart is empty

    {% else %}

    {% for sticker, number in cart.items %}

    <div class="card">
        
        {% include "shop/base/sticker.html" with noParams='number' %}

        <div class="par card-number">
            {{ number }} шт
        </div>

        <div class="par card-buy">
            <form name='del_cart' method='post' action="{% url 'del_cart' %}">
                {% csrf_token %}
                <input type="text" name="sticker_id" value="{{ sticker.id }}" hidden/>
                <button type="submit">
                    Delete
                </button>
            </form>
        </div>

    </div>

    {% endfor %}

    {% endif %}

{% endblock %}