{% extends 'shop/base.html' %}


{% block title.super %}
    | main
{% endblock %}


{% block content %}
    <div class="par">
        Как можно понять из названия, этот сайт предназначен для покупки и продажи стикеров! Здесь можно (пока нельзя)
        зарегистрироваться и купить чужие стикеры / продать свои.
    </div>

    {% for sticker in stickers %}
    <div class="par">
        <div class="par">
            {{ sticker.name }}
        </div>
        <div class="par">
            {{ sticker.price }}
        </div>
        <div class="par">
            <img src="{{ sticker.image.url }}" />
        </div>
        <div class="par">
            {{ sticker.size }}
        </div>
        <div class="par">
            {{ sticker.user }}
        </div>
    </div>
    {% endfor %}
{% endblock %}