{% extends 'shop/base.html' %}


{% block title.super %}
    | main
{% endblock %}


{% block content %}
    <div class="par">
        Как можно понять из названия, этот сайт предназначен для покупки и продажи стикеров! Здесь можно (пока нельзя)
        зарегистрироваться и купить чужие стикеры / продать свои.
    </div>

    <div class="par">
        СТИКЕРЫ СТИКЕРЫ СТИКЕРЫ
    </div>
    <div class="par">
        СТИКЕРЫ СТИКЕРЫ СТИКЕРЫ
    </div>
    <div class="par">
        СТИКЕРЫ СТИКЕРЫ СТИКЕРЫ
    </div>
    <div class="par">
        СТИКЕРЫ СТИКЕРЫ СТИКЕРЫ
    </div>
    <div class="par">
        СТИКЕРЫ СТИКЕРЫ СТИКЕРЫ
    </div>
{% endblock %}