{% extends 'shop/base.html' %}


{% block title %}
    | register
{% endblock %}


{% block content %}
<div class="card">
    <form name='login' action="{% url 'login' %}" method="post" class="form-input">
        {% csrf_token %}

        {% if error_message %}
            {{ error_message }}
        {% endif %}
    
        {{ form }}
        <button type='submit'>Войти</button>
    </form>
</div>

<div class="card">
    <a href="/register" class="footer-url">Register</a>
</div>
{% endblock %}


{% block scripts %}
    
{% endblock %}