{% extends 'shop/base.html' %}


{% block title %}

    {{ block.super }} | {{ user.username }}

{% endblock %}


{% block user %}

    <a href="/profile/{{ username }}" class="par">{{ username }}</a>

{% endblock %}


{% block content %}

    {% for sticker in stickers %}

        {% include "shop/base/sticker.html" %}

    {% endfor %}


    {% if user.is_authenticated and user.username == username %}
        
        {% include "shop/base/sticker_form.html" %}

    {% endif %}

{% endblock %}