<!--HEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADER-->

<a href="/" class="par header-url"><h2 class="logo">StickerShop</h2></a>

            {% block header_url %}
                {% if user.is_authenticated %}
                    <a href="/logout" class="par header-url">Log out</a>
                    <a href="/profile" class="par header-url">Profile</a>
                    <a href="/cart" class="par header-url">Cart</a>
                {% else %}
                    <a href="/login" class="par header-url">Log in</a>
                    <a href="/register" class="par header-url">Reg</a>
                {% endif %}

            {% endblock %}