{% if not noParams or 'img' not in noParams %}

    <div class="case_img">
        <img src="{{ sticker.image.url }}" />
    </div>

{% endif %}


{% if not noParams or 'title' not in noParams %}

    <div class="par card-title">
        {{ sticker.name }}
    </div>

{% endif %}


{% if not noParams or 'price' not in noParams %}

    <div class="par card-price">
        {{ sticker.price }} руб
    </div>

{% endif %}


{% if not noParams or 'number' not in noParams %}

    <div class="par card-number">
        {{ sticker.number }} шт
    </div>

{% endif %}


{% if not noParams or 'name' not in noParams %}

    <div class="par card-name">
        <a href="/profile/{{ sticker.user }}" class="">{{ sticker.user }}</a>
    </div>

{% endif %}